{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - module: The module that provided this block plugin.
 *   - cache: The cache settings.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set longinus_block_base = 'block block-' ~ id|split('__', 2)|first|clean_class %}
{% set longinus_block = longinus_block_base|replace({'longinus-' : ''}) %}
{% set longinus_modifiers = id|split('__')|slice(1) %}
{%
set classes = [
longinus_block
]
%}
{% for modifier in longinus_modifiers %}
    {% set classes = classes|merge([longinus_block ~ '--' ~ modifier|clean_class]) %}
{% endfor %}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <div{{ title_attributes.addClass(longinus_block ~ '__title block-title') }}>{{ label }}</div>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        <div class="block-poweredbydrupal__content">
        {% trans %}
        <p>Code and Design by <a class="block-poweredbydrupal__sara" href="https://www.linkedin.com/in/sara-babic-985807223/" rel="noreferrer">Sara</a></p>
        {% endtrans %}
        </div>
    {% endblock %}
</div>