{% set longinus_block_base = 'block block-' ~ id|split('__', 2)|first|clean_class %}
{% set longinus_block = longinus_block_base|replace({'' : ''}) %}
{% set longinus_modifiers = id|split('__')|slice(1) %}
{%
  set classes = [
    longinus_block
  ]
%}
{% for modifier in id|split('__')|slice(1) %}
  {% set classes = classes|merge([longinus_block ~ '--' ~ modifier|clean_class]) %}
{% endfor %}
{% set content %}{{ content }}{% endset %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
      <div{{ title_attributes.addClass(longinus_block ~ '__title block-title') }}>{{ label }}</div>
    {% endif %}
    {{ title_suffix }}
    {{ content }}
  </div>
{% endif %}
