{% set longinus_block = longinus_block ?: ('paragraph-' ~ paragraph.bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class %}

{%
  set classes = [
    'paragraph',
    longinus_block
  ]
%}

{# {% set fluid = '{{ content.field_fluid|render|striptags|trim }}' %} #}

<div{{attributes.addClass(classes)}}
    data-paragraph-id="{{ paragraph.id() }}"
    {% if content.field_overlay|render|striptags|trim %} data-paragraph-overlay="{{content.field_overlay|render|striptags|trim|lower}}" {% endif %}
    {% if content.field_invert|render|striptags|trim %} data-paragraph-invert="{{content.field_invert|render|striptags|trim|lower}}" {% endif %}
    {% if content.field_text_alignment|render|striptags|trim %} data-paragraph-text-alignment="{{content.field_text_alignment|render|striptags|trim|lower}}" {% endif %}
    {% if content.field_link_type|render|striptags|trim %} data-paragraph-link-type="{{content.field_link_type|render|striptags|trim|lower}}" {% endif %}
    {% if content.field_narrow|render|striptags|trim %} data-paragraph-narrow="{{content.field_narrow|render|striptags|trim|lower}}" {% endif %}
    {% if content.field_image_position|render|striptags|trim %} data-paragraph-image-position="{{content.field_image_position|render|striptags|trim|lower}}" {% endif %}
    {% if content.field_fluid|render|striptags|trim %} data-paragraph-fluid="{{content.field_fluid|render|striptags|trim|lower}}" {% endif %}
    {% if content.field_fit|render|striptags|trim %} data-paragraph-fit="{{content.field_fit|render|striptags|trim|lower}}" {% endif %}

    {% if (content.field_background_color|render|striptags|trim or content.field_background_gradient|render|striptags|trim ) %}
      style=
        "
          {% if content.field_background_color|render|striptags|trim %} background-color: {{ content.field_background_color|render|striptags|trim }}; {% endif %}
          {% if content.field_background_gradient|render|striptags|trim %}
            background: linear-gradient(90deg,
                {{content.field_background_gradient[0]['#taxonomy_term'].field_left_color.getValue('field_left_color')[0].color}} 0%,
                {{content.field_background_gradient[0]['#taxonomy_term'].field_right_color.getValue('field_right_color')[0].color}} 100%
            ); {% endif %}
          {% if content.field_background_image|render|striptags|trim and (paragraph.bundle != "text_and_image") %} background-image: {% if content.field_overlay|render|striptags|trim %}linear-gradient(to bottom, rgba({{ content.field_overlay|render|striptags|trim }}, 0.4) 0%, rgba({{ content.field_overlay|render|striptags|trim }}, 0.4) 100%), {% endif %} url({{ content.field_background_image|render|striptags|trim }}); {% endif %}
        "
    {% endif %}
  >
  {% if content.field_margin|render|striptags|trim %}
    <style>
      [data-paragraph-id="{{ paragraph.id() }}"] { margin: calc({{ content.field_margin|render|striptags|trim }} / 2) auto !important; }
      @media (min-width: 1024px) { [data-paragraph-id="{{ paragraph.id() }}"] { margin: {{ content.field_margin|render|striptags|trim }} auto !important; }}
    </style>
  {% endif %}

  {% if content.field_height|render|striptags|trim %}
    <style>
      @media (min-width: 1024px) { [data-paragraph-id="{{ paragraph.id() }}"] { height: {{ content.field_height|render|striptags|trim }}; }}
    </style>
  {% endif %}

{# {% set fluid = '{{ content.field_fluid|render|striptags|trim }}' %} #}

	<div class="{{ longinus_block ~ "__container" }}">
		{% block content %}
      {# BANNER #}
      {% if paragraph.bundle == "banner" %}
        {{ content.field_background_image }}
         <div class="{{longinus_block}}__text">
           <div class="{{longinus_block}}__text-wrap">
            {{ content.field_title }}
            {{ content.field_body }}
            {{ content.field_links_multiple }}
          </div>
         </div>
         {# Image #}
         {% elseif paragraph.bundle == "image" %}
        {{ content.field_background_image }}
         <div class="{{longinus_block}}__text">
           <div class="{{longinus_block}}__text-wrap">
            {{ content.field_title }}
            {{ content.field_body }}
            {{ content.field_links_multiple }}
          </div>
         </div>
      {# ROW #}
      {% elseif paragraph.bundle == "row" %}
        {{ content.field_title }}
        {{ content.field_cards }}
      {# ROW #}
      {% elseif paragraph.bundle == "image" %}
        {{ content.field_title }}
        {{ content.field_background_image }}
      {# GALLERY #}
      {% elseif paragraph.bundle == "gallery" %}
        {% if content.field_gallery %}
        <div id="lightGallery" data-light-gallery>
          {% for item in content.field_gallery['#items'] %}
            {% set image_uri = file_url(item.entity.uri.value) %}
            <div class="image-item" data-src="{{image_uri}}" >
              <a href="">
                <img src="{{image_uri}}" />
              </a>
            </div>
          {% endfor %}
        </div>
        {% endif %}
      {# SHORTCUTS #}
      {% elseif paragraph.bundle == "shortcuts" %}
        {{ content.field_title }}
        <div class="{{longinus_block}}__content">
          {{ content.field_paragraphs }}
          <div>
            {{ content.field_background_image }}
            {{ content.field_body }}
          </div>
        </div>
      {# SHORTCUT #}
      {% elseif paragraph.bundle == "shortcut" %}
        {{ content.field_icon_svg }}
        {{ content.field_link }}
      {# STEPS #}
      {% elseif paragraph.bundle == "steps" %}
        {{ content.field_title }}
        {{ content.field_paragraphs }}
      {# SHORTCUT #}
      {% elseif paragraph.bundle == "step" %}
        {{ content.field_icon_svg }}
        {{ content.field_title }}
        {{ content.field_body }}
      {# CAROUSEL #}
      {% elseif paragraph.bundle == "carousel" %}
        {{ content.field_title }}
        {% if content.field_cards['#items']|length > 2 %}
          <div class="paragraph-carousel paragraph-carousel-{{ paragraph.id() }} paragraph-carousel--{{ content.field_carousel_type|render|striptags|trim|lower }}">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                {% for items in content.field_cards['#items'] %}
                  <div class="swiper-slide">
                    {{content.field_cards[loop.index -1]}}
                  </div>
                {% endfor %}
              </div>

            </div>
             <!-- Add navigation -->
              <div class="paragraph-carousel-{{ paragraph.id() }}-swiper-button swiper-button-prev"></div>
              <div class="paragraph-carousel-{{ paragraph.id() }}-swiper-button swiper-button-next"></div>
          </div>
        {% endif %}
      {# CART WITH ICONS #}
      {% elseif paragraph.bundle == "card_with_icons" %}
        {{ content.field_icon_svg }}
        <div class="{{longinus_block}}__text">
          {{ content.field_title }}
          {{ content.field_body }}
          {{ content.field_link }}
        </div>
      {# CARD #}
      {% elseif (paragraph.bundle == "card") %}
        {{ content.field_background_image }}
        <div class="{{longinus_block}}__text">
          {{ content.field_title }}
          {{ content.field_body }}
          {{ content.field_link }}
        </div>
      {# PROJECTS #}
      {% elseif (paragraph.bundle == "projects") %}
      {% if content.field_title %}
        {{ content.field_title }}
      {% endif %}
      {% if content.field_project %}
        {{ content.field_project }}
      {% endif %}
      {# PROJECT #}
      {% elseif (paragraph.bundle == "project") %}
      {% if content.field_lead_image %}
        {{ content.field_lead_image }}
      {% endif %}
      {% if content.field_title %}
        {{ content.field_title }}
      {% endif %}
      {% if content.field_body %}
        {{ content.field_body }}
      {% endif %}
      {# ROOM #}
      {% elseif (paragraph.bundle == "room") %}
          {{ content.field_room_type}}
          {{ content.field_number_of_rooms }}
      {# ROOMS #}
      {% elseif (paragraph.bundle == "rooms") %}
          {{ content.field_room}}
      {# FORM #}
      {% elseif (paragraph.bundle == "form") %}
        <div class="{{longinus_block}}__text" {% if content.field_anchor|render|striptags|trim|lower %} id="{{ content.field_anchor|render|striptags|trim|lower }}" {% endif %}>
          {{ content.field_title }}
          {{ content.field_form	 }}
        </div>
      {# Text and Image #}
      {% elseif (paragraph.bundle == "text_and_image") %}
        
          {{ content.field_background_image }}
        
        <div class="{{longinus_block}}__text">
          <div class="{{longinus_block}}__text-wrapper">
            {{ content.field_title }}
            {{ content.field_body }}
            {{ content.field_link }}
          </div>
        </div>
      {# Call to Action #}
      {% elseif paragraph.bundle == "call_to_action" %}
        {{ content.field_subtitle }}
        {{ content.field_title }}
        {{ content.field_body }}
        {{ content.field_link }}
      {# Text #}
      {% elseif paragraph.bundle == "text" %}
        {{ content.field_body }}
      {# VIDEO #}
      {% elseif paragraph.bundle == "video" %}
        {{ content.field_title }}
        {{ content.field_video }}
      {# MAP IMAGE #}
      {% elseif paragraph.bundle == "map_image" %}
        {% if content.field_title %}
          {{ content.field_title }}
        {% endif %}
        {% if content.field_map_description %}
          {{ content.field_map_description }}
        {% endif %}
        <a href="{{ content.field_map_location|render|striptags|trim }}" target="_blank">
          {% if content.field_icon_svg %}
            {{ content.field_icon_svg }}
          {% endif %}
        </a>
        {{ content.field_image }}
      {# PARTNERS #}
        {% elseif paragraph.bundle == "partners" %}
        {% if content.field_title %}
          {{ content.field_title }}
        {% endif %}
        {% if content.field_partner %}
          {{ content.field_partner }}
        {% endif %}
      {# PARTNER #}
        {% elseif paragraph.bundle == "partner" %}
        <a href="{{ content.field_link|render|striptags|trim|lower }}" target="_blank">
          {{ content.field_icon_svg }}
        </a>
      {# PARAGRAPHS #}
        {% elseif paragraph.bundle == "paragraphs" %}
        {% if content.field_paragraph %}
          {{ content.field_paragraph }}
        {% endif %}
      {# Accordion  #}
      {% elseif paragraph.bundle == "accordion" %}
        {{ content|without('field_margin') }}
      {# QUOTE #}
      {% elseif (paragraph.bundle == "quotes") %}
      <div class="{{longinus_block}}__quote">
        {% if content.field_body %}
          {{ content.field_body }}
        {% endif %}
      </div>
      {# Accordion Parent #}
      {% elseif paragraph.bundle == "accordion_parent" %}
      <dl class="accordion">
        <dt class="{{longinus_block}}__accordion-title">
          <a href="#{{ content.field_anchor|render|striptags|trim|lower }}">
            {{ content.field_title }}
          </a>
        </dt>
        <dd class="{{longinus_block}}__accordion-body">
          {{ content.field_body }}
          {{ content.field_accordion_items }}
        </dd>
      </dl>
      {# Accordion Child #}
      {% elseif paragraph.bundle == "accordion_child" %}
      <dl class="accordion">
        <dt class="{{longinus_block}}__accordion-title">
          <a href="#{{ content.field_anchor|render|striptags|trim|lower }}">
            {{ content.field_title }}
          </a>
        </dt>
        <dd class="{{longinus_block}}__accordion-body">
          {{ content.field_body }}
        </dd>
      </dl>
      {# Text #}
      {% elseif paragraph.bundle == "file" %}
        {{ content.field_title }}
        {{ content.field_file }}
      {% endif %}
		{% endblock %}
	</div>
</div>
