{% set longinus_base = form_id ? 'form-' ~ form_id|clean_class ~ '__' ~ name|clean_class : 'details' %}
{%
  set classes = [
    longinus_base
  ]
%}
<details{{ attributes.addClass(classes) }}>
  {%- if title -%}
    <summary{{ summary_attributes }}>{{ title }}</summary>
  {%- endif -%}

  {% if errors %}
    <div class="{{ longinus_base }}-errors form-item--error-message">
      <strong>{{ errors }}</strong>
    </div>
  {% endif %}

  {%- if description -%}
    <div class="{{ longinus_base }}-description">{{ description }}</div>
  {%- endif -%}

  {{ children }}
  {{ value }}

</details>
