{% set longinus_block = 'view-' ~ view.storage.id()|clean_class ~ '-' ~ view.current_display|clean_class %}
{% set longinus_element = longinus_block ~ '__summary' %}
<ul class="{{ longinus_element }}">
  {% for row in rows %}
    <li class="{{ longinus_element }}-item"><a href="{{ row.url }}"{{ row.attributes.addClass(longinus_element ~ '-item-link', row.active ? 'is-active')|without('href') }}>{{ row.link }}</a>
      {% if options.count %}
        <span class="{{ longinus_element }}-item-count">({{ row.count }})</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
