{% set longinus_block = longinus_block ?: ('view-' ~ view.storage.id() ~ '-' ~ view.current_display)|clean_class %}
{% set longinus_element = longinus_block ~ '__row' %}
{% if title %}
<div class="{{ longinus_block }}__rows">
    <h3 class="{{ longinus_block }}__rows-title">{{ title }}</h3>
    {% endif %}
    {% block content %}
        {% if rows|length > 1 %}
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    {% for row in rows %}
                        <div class="swiper-slide">
                            {% set row_classes = [
                            default_row_class ? longinus_element,
                            ] %}
                            <div{{ row.attributes.addClass(row_classes) }}>
                                {{ row.content }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="view-banners-block-3-swiper-pagination swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="view-banners-block-3-swiper-button-next swiper-button-next"></div>
                <div class="view-banners-block-3-swiper-button-prev swiper-button-prev"></div>

            </div>
        {% else %}
            {% for row in rows %}
                {% set row_classes = [
                    default_row_class ? longinus_element,
                ] %}
                <div{{ row.attributes.addClass(row_classes) }}>
                    {{ row.content }}
                </div>
            {% endfor %}
        {% endif %}
                   
    {% endblock %}
    {% if title %}
</div>
{% endif %}
